<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <components>
        <component id="configuration">
            <parameters>
                <connectionString>host=localhost;port=1234</connectionString>
                <pollingInterval>1000</pollingInterval>
            </parameters>
        </component>
    </components>
    
</configuration>